@media only screen and (min-width: 768px){

}
canvas{
    border: 1px solid;
}

*{
    padding: 0;
    margin: 0;
  }

  body{
      background-image: url("./Images/back1.png");
      background-repeat: no-repeat;
      background-size: cover;
  }
  
  #container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  #header{
    display: flex;
    justify-content: center;
    background-color: none;
    border: none;
    height: 15vh;
    width: 100%;
  }

 #header img{
    display: flex;
    width: 300px;
    height: 200px;
    position: relative;
    justify-content: space-between;
    align-content: center;
 }

 #header p{
     display: flex;
     float: center;
     font-size: 2 em;
     font-family: 'Permanent Marker';
     color: white;
 }
  
  #main{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: space-around;
    background-color: none;
    border: 1px ;
    height: 70%;
    width: 100vw;
  }
  #myCanvas{
    width: auto;
    margin: 0 auto;
    position: 50% vw;
  }

  #players{
    display: flex;
    justify-content: right;
    flex-direction: column;
    align-content: space-around;
    
  }
  #healthP1{
        background-color: rgb(22, 22, 98);
        height: 20px;
        width: 400px;
        border-radius: 20px;
    }
  
    #healthP2{
      background-color: rgb(7, 122, 59);
      height: 20px;
      width: 400px;
      border-radius: 20px;
  }
  
  #footer{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 20px;
    background-color:rgb(24, 24, 24);
    border: 1px solid rgb(24, 24, 24);
  }
  
  .action-button
  {
    background-color: #1d1d1d;
      position: center;
      padding: 10px 40px;
      margin: 0px 200px 150px 0px;
      float: left;
      border-radius: 10px;
      font-family: 'Press Start 2P';
      color: rgb(216, 203, 18);
      font-size: 13px;
      text-decoration: none;
  }
  
  .player1
  {
      border-bottom: 5px solid #080808;
      text-shadow: 0px -2px #363636;
  }
  .player2
  {
      border-bottom: 5px solid #080808;
      text-shadow: 0px -2px #363636;
  }
  .startButton
  {
      background-color: #1d1d1d;
      border-bottom: 5px solid #080808;
      text-shadow: 0px -2px #363636;
      color: rgb(216, 203, 18);
  }
  
  .action-button:active
  {
      transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
      border-bottom: 1px solid;
  }
  #text{
      color: white;
      font-size: 2em;
      font-family: 'Gloria Hallelujah', cursive;

  }

