
canvas{
    border: 1px solid;
}
*{
    padding: 0;
    margin: 0;
  }

  body{
      background-image: url("./Images/back1.png");
      background-repeat: no-repeat;
      background-size: cover;
  }
  
  #container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  
  #header{
    background-color: none;
    border: none;
    height: 10vh;
    width: 50%;
    color: white;
    align-content: center;
  }
  
  #main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: 'Gloria Hallelujah', cursive;
    background-color: none;
    border: 1px ;
    height: 70%;
    width: 100vw;
  }
  
  #myCanvas{
    width: auto;
    margin: 200 auto;
    position: 50% vw;
  }
  
  #footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
    align-items: center;
    border-radius: 20px;
    background-color:rgb(24, 24, 24);
    border: 1px solid rgb(24, 24, 24);
    height: 10vh;
    width: 50%;
  }
  
  #info{
    font-size: 2em;
    color: white;
  }
  #Instructions{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-content: center;
      color: white;
      height: 80px;
      width: 150px;
      font-size: 1.5em;
      text-align: center;
      background-color: #DAA930;
      font-family: 'Gloria Hallelujah', cursive;
      border-radius: 20px;

  }
  #myDiv{
      display: flex;
      background-color: gray;
      flex-direction: column;
      font-size: 1.5em;
      flex-wrap: wrap;
      align-items: center;
      color: white;
      font-family:'Patrick Hand', cursive;
  }

  #myStory{
    display: flex;
    background-color: gray;
    flex-direction: column;
    font-size: 1.5em;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    font-family:'Patrick Hand', cursive;
}

  #texto-logo{
      font-size: 2em;
      font-family:'Permanent Marker';
      color: white;
      position: 80px 100px;
  }
  
  .action-button
  {
      position: center;
      padding: 10px 40px;
      margin: 0px 200px 150px 0px;
      float: left;
      border-radius: 10px;
      font-family: 'Gloria Hallelujah', cursive;
      font-size: 18px;
      color: #FFF;
      text-decoration: none;	
  }
  
  .red
  {
      background-color: #e68d19;
      border-bottom: 5px solid #eb790f;
      text-shadow: 0px -2px #363636;
  }
  
  .action-button:active
  {
      transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
      border-bottom: 1px solid;
  }

  #logo {
      width: 250px;
      height: 200px;
      font-family:'Permanent Marker';
      font-size:100px;
  }